.profile_con {
    box-shadow: 1px 0 4px #888;
    width: 100%;
    height: calc(100vh - 14%);
}
.profile_con i {
    border: 1px solid black;
    border-radius: 50px;
}
.profile_list i {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 13px;
}
.pro_active {
    background-color: #ffe6cc;
    border-radius: 8px;
}
.profile_list li:hover{
    background-color: #ffe6cc;
    border-radius: 8px;
}